
/* transforms */
body {
  text-align: center;
  margin-top: 30%;
  animation: starwars 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; 
  transform: translate( 0, 80% ) perspective( 10em ) rotateX( 45deg );
}
h1 {
  font-size: 72px;
}
@keyframes starwars {
  90% {
    transform: scale( 0.01 ) translate( 0, -80% ) perspective( 10em ) rotateX( 45deg );
  }
  100% {
    transform: scale( 1 ) translate( 0, 0 ) perspective( 0 ) rotateX( 0 );
  }
}