body {
	background: 
    lightblue 
    no-repeat 
    top / cover;
  margin: 5%;
  font-family: "Helvetica";
}
h1 {
  text-align: center;
  background: 
    white
    repeat-x;
  margin: 10px auto;
  max-width: 20em;
  width: 80%;
  padding: 2%;
  border-radius: 20px;
}


ul {
  list-style-type: none;
}

nav ul li {
  float:left;
  padding: 1em;
}

section ul li {
  background-color: purple;
}

li p {
  font-weight: bold;
}
a {
  text-decoration: none;
  font-weight: bold;
  float: right;
}
a:hover {
  color: blue;
}

.left {
  float: left;
  width: 46%;
  padding: 1%;
  min-width: 5em;
  min-height: 10em;
  background-color: #e5fffd;
  border-radius: 20px;

}


.right{
  float: right;
  width: 46%;
  padding: 1%;
  min-width: 5em;
  min-height: 10em;
  background-color: #e5fffd;
  border-radius: 20px;

}

.right img {
  margin: 0;
}

.subdiv {
  position: absolute;
  right: 15em;
  top: 18em;
  border: dashed 1px;
}

[class$="div"] {
    font-family: "Arial";
}

img {
  max-height: 20em;
  position: relative;
  margin-left: 10em;
}

table {
  background-color: black;
}


footer {
  padding: 2em;
  text-align: center;
  clear: both;
  background-color: white;
  border-radius: 20px;

}


